.header {
    background-color: #000000;
    background-image: linear-gradient(45deg, #000000 18%, #ff6600 62%, #0f900a 83%);
    height: 10rem;
    color: #ffffff;
    border-radius: 1rem;
    margin: .5rem;
    display: flex;
    justify-content: end;
}

.lottie {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 500;
}